@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic);

/* HTML */
html, body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Helvetica Neue', serif, sans-serif;
}

.container {
	height: auto;
}

/**
 * Color schemes
 * blue/info - #03AEE4
 * yellow/warning - #FFB800
 * red/danger - #e92429
 * green/success - #06ba8f
 */

/* Header */
.head-wrapper {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	display: block;

	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000;
	background-attachment: fixed;
}
/* Nav a colors */
.head-wrapper a {
	color: #fff;
	text-decoration: none;
}

.head-wrapper p {
	font-size: 16px;
}

/* Nav container */
.head-wrapper .nav {
	width: 100%;
	height: 30px;
	clear: both;
	margin-top: 15px;
}

/* Nav header */
.head-wrapper .nav > .nav-head a {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.head-wrapper .nav > .nav-links {
	float: right;
	list-style: none;
	height: 30px;
	font-size: 14px;
}

/* Nav links */
.head-wrapper .nav > .nav-links > li {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	height: 30px;
}

/* Nav links hover */
.head-wrapper .nav > .nav-links > li.active,
.head-wrapper .nav > .nav-links > li:hover {
	/* Hover transitions */
	transition: all .5s;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		-o-transition: all .5s;

	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;

	border-bottom: 3px solid #03AEE4;
}

@media (max-width:760px) {
	.head-wrapper .nav > .nav-head a {
		display: block;
	}
}

/* Head desc */
.head-wrapper .head-desc {
	text-align: center;
	vertical-align: top;
	margin-top: 13%;
	margin-bottom: 10%;
}

.head-wrapper .head-desc .container {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.head-wrapper .head-desc h1 {
	font-size: 72px;
	font-weight: 700;
}

/**
 * Color schemes
 * blue/info - #03AEE4
 * yellow/warning - #FFB800
 * red/danger - #e92429
 * green/success - #06ba8f
 */

/**
 * Buttons
 */
.btn {
	font-weight: 700;
		transition: all .5s;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
}
.btn-group .btn:not(:first-child),
.btn-group .btn:not(:last-child) {
	z-index: 1000;
}
/* Set transparency */
.btn-primary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-default {
	background-color: transparent;
}
/* Btn-primary */
.btn-primary {
	border: 1px solid #03AEE4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #03AEE4;
	border: 1px solid #03AEE4;
}
/* Btn success */
.btn-success {
	border: 1px solid #06ba8f;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	border: 1px solid #06ba8f;
	background-color: #06ba8f;
}
/* Btn danger */
.btn-danger {
	border: 1px solid #e92429;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	border: 1px solid #e92429;
	background-color: #e92429;
}

/**

 * Content
 */
.content {
	min-height: 100vh;
	height: auto;
	display: block;
	background-color: #ddd;
}
.content .content-head {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.content .content-inner {
	margin-top: 30px;
}
.img-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.img-bottom-margin {
	margin-bottom: 24px;
}
#about {
	background-color: #03AEE4;
	color: #fff;
}
/*
 * Product
 */
#product {
	background-color: #fff;
}
#product .col-md-4,
#product .col-md-8 {
	position: relative;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
}
/*.product-head h1,
.product-head h2,
.product-head h3,
.product-head h4,
.product-head h5,
.product-head h6 {
	margin-top: 0;
}*/
.product-list {
	width: 100%;
	height: 50vh;
	overflow-y: scroll;
}
/* Scroll bar */
/*.product-list::-webkit-scrollbar              { background-color: red; border-radius: 4px; }*/
.product-list::-webkit-scrollbar {
    width: 5px;
}
.product-list::-webkit-scrollbar-button {
	display: none;
}
.product-list::-webkit-scrollbar-track {
	background-color: #ddd;
}
.product-list::-webkit-scrollbar-thumb {
	background-color: gray; border-radius: 4px;
}
.product-list-item {
	width: 100%;
	border-bottom: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgba(238, 238, 238, 1);
	height: 100px;
	padding: 5px 15px;
	overflow: hidden;
	display: block;	
	cursor: pointer;
}
.product-list-item:last-child {
	border-bottom: none;
}
.product-list-item h5 {
	line-height: 80px;
}
.product-list-item.active {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.1);
	border-left: 5px solid rgba(0, 0, 0, 0.2);
}
.product-list-item .product-img {
	width: 250px;
	height: 250px;
}
/**
 * Contact
 */
#contact {
	background-image: url('../img/contact-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
}
.social-buttons {
	margin-top: 15px;
}
.gplus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*
 * Headers Sizes
 */
h1 {
	font-size: 72px;
	font-weight: 700;
}
h2 {
	font-size: 64px;
	font-weight: 700;
}
h3 {
	font-size: 48px;
	font-weight: 700;
}
h4 {
	font-size: 36px;
	font-weight: 700;
}
h5 {
	font-size: 24px;
	font-weight: 700;
}
h6 {
	font-size: 16px;
	font-weight: 700;
}