@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic);

/* HTML */
html, body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Helvetica Neue', serif, sans-serif;
}

.container {
	height: auto;
}

/**
 * Color schemes
 * blue/info - #03AEE4
 * yellow/warning - #FFB800
 * red/danger - #e92429
 * green/success - #06ba8f
 */

/* Header */
.head-wrapper {
	height: 100%;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	display: block;

	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000;
}

/* Nav a colors */
.head-wrapper a {
	color: #fff;
	text-decoration: none;
}

.head-wrapper p {
	font-size: 16px;
}

/* Nav container */
.head-wrapper .nav {
	width: 100%;
	height: 30px;
	clear: both;
	margin-top: 15px;
}

/* Nav header */
.head-wrapper .nav > .nav-head a {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.head-wrapper .nav > .nav-links {
	float: right;
	list-style: none;
	height: 30px;
	font-size: 14px;
}

/* Nav links */
.head-wrapper .nav > .nav-links > li {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	height: 30px;
}

/* Nav links hover */
.head-wrapper .nav > .nav-links > li.active,
.head-wrapper .nav > .nav-links > li:hover {
	/* Hover transitions */
	transition: all .5s;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		-o-transition: all .5s;

	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;

	border-bottom: 3px solid #03AEE4;
}

@media (max-width:760px) {
	.head-wrapper .nav > .nav-head a {
		display: block;
	}
}

/* Head desc */
.head-wrapper .head-desc {
	text-align: center;
	width: 600px;
	margin: 200px auto;
}

.head-wrapper .head-desc h1 {
	font-size: 72px;
	font-weight: 700;
}

/**
 * Color schemes
 * blue/info - #03AEE4
 * yellow/warning - #FFB800
 * red/danger - #e92429
 * green/success - #06ba8f
 */

/* Buttons */
.btn {
	font-weight: 700;
}

.btn-primary {
	background-color: transparent;
	border: 1px solid #03AEE4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #03AEE4;
	border: 1px solid #03AEE4;

	transition: all .5s;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
}

.btn-primary:hover

.btn-primary {

}